body {
  color: black;
  padding: 5rem;
}

#question {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

#display-prefix {
  font-size: 4rem;
  color: #ff852d;
  text-align: center;
}

#score {
  font-size: 3rem;
  text-align: center;
}

.btn btn-info {
  display: block;
  font-size: 2rem;

  word-wrap: break-word;
}

.incorrect {
  background-color: #7b1404;
}

.correct {
  background-color: #025002;
}

@media screen and (max-width: 768px) {
  .choice-container {
    min-width: 40rem;
  }
}
