body {
  color: black;
  padding: 5rem;
}

#question {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

#display-prefix {
  font-size: 4rem;
  color: #ff852d;
  text-align: center;
}

#score {
  font-size: 4rem;
  text-align: center;
}
